body {
    margin:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.containerselectser{
    width: 1230px;
    height: 1000px;
    align-content: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    margin: auto;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
}
.selectser{
    width: 500px;
    margin-left: 365px;
    margin-top: 35px;
    border-style: solid;
    text-align: left;
}
.btnbuscarser{
    margin-top: 25px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: black;
}
.containerOS{
    width: 400px;
    height: 550px;
    border-radius: 10px;
    border-style: solid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: scroll;
    font-weight: bold;
}
.btnsrOS{
    width: 168px;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    text-align: left;
    font-size: 25px;
    float: left;
}
.conbtnsr{
    width: 320px;
    margin-left: 50px;
    margin-top: 20px;

}